body {
  margin: 0 auto;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  /*background: transparent;*/
}

.container {
  width: 600px;
  height: 150px;
  position: absolute;
  margin: 80 auto;

  /*top: 80px;
  left: 5px;*/
}

#background {
  position: absolute;
  /*top: 0;
  left: 0;*/
  border: 1px solid black;
  z-index: 0;
  max-width: 600px;
  height: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pangolin {
  position: relative;
  border: 1px solid black;
  top: 0px;
  left: 0px;
  z-index: 2;
  /*width: 59px;
  height: 47px;*/
}

/*#obstacles {
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid black;
  z-index: 1;
  width: 600px;
  height: 150px;
}*/


/*canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  background: transparent;
}*/
